torch-geometric/
.vscode/
__pycache__/
bionic/utils/__pycache__/
bionic/outputs/*
dist/
bionic.egg-info/
activate.sh

!.gitkeep
!src/outputs/features/.gitkeep
!src/outputs/models/.gitkeep
!src/outputs/plots/.gitkeep