torch-geometric/
.vscode/
__pycache__/
src/utils/__pycache__/
src/outputs/features/*
src/outputs/models/*
src/outputs/plots/*
dist/
bionic.egg-info/

!.gitkeep
!src/outputs/features/.gitkeep
!src/outputs/models/.gitkeep
!src/outputs/plots/.gitkeep